@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(./custom.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    overflow-x: hidden;
    line-height: 1.5;
}
/*reset*/
li,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
button{
    border: 0;
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0 0 .7rem 0;
    font-weight: 600;
}
p{
    color: #555454;
}
/*end*/
.container{
    width: 100%;
    max-width: 1160px;
    padding: 0 30px;
    margin: 0 auto;
}
.grid{
    display: grid;
}
.grid-2{
    grid-template-columns: repeat(2,1fr);
}
.grid-3{
    grid-template-columns: repeat(3,1fr);
}
.grid-4{
    grid-template-columns: repeat(4,1fr);
}

.grid,.grid-2,.grid-3,.grid-4{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
}
/*flex-box*/
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex-c{
    display: flex;
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}


/*align*/
.aifs{
    align-items: flex-start;
}
.asc{
    align-self: center;
}
.tac{
    text-align: center;
}
.tar{
    text-align: right;
}
.taj{
    text-align: justify;
}
/*end align*/


/*justify*/
.jsc{
    justify-self: center;
}
.jcsb{
    justify-content: space-between;
}
.jsfe{
    justify-self: flex-end;
}
.jcfe{
    justify-content: flex-end;
}
/*end justify*/



/*img*/
.img-max{
    max-width: 100%;
    height: auto;
}
/*position*/
.p-r{
    position: relative;
}
.p-a{
    position: absolute;
}
.p-f{
    position: fixed;
}
/*z-index*/
.z-top{
    z-index: 100;
}
.z-nav{
    z-index: 1000;
}
.z-back{
    z-index: -1;
}
/*end*/





/*nav utilities*/
.navBar{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBar .menu{
    display: flex;
}
.navBar li{
    list-style: none;
}
.navBar a{
    margin-right: 1.5rem;
    font-size: 1.1rem;
}

.navBar .brand,.navBar .logo{
    margin: 0;
    font-size: 1.5rem;
}

/*end here*/

@media (max-width:768px){
    .grid,.grid-2,.grid-3,.grid-4{
        grid-template-columns: 1fr!important;
    }
    .grid-2 div{
            justify-self: center!important;
    }
    .flex{
        flex-direction: column;
    }
    .navBar{
        flex-direction: column;
    }

}
